







body
{
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items:center;
	background-color:#c0392b;
	color:white;
}


header
{
	display:flex;
	justify-content:space-between;
	width:90%;
	margin:0;
}
header img
{

	width:10em;
	height:auto;
	filter: drop-shadow(0px 0px 20px white); 
}
nav
{
	width:80%;
	display:flex;
	justify-content:space-around;
	align-items:center;
	flex-wrap:wrap;
}
header a
{
	color:white;
	font-size:1.5em;
	font-family: 'Ubuntu', sans-serif;
	text-decoration:none;

}
header a:hover
{
	text-shadow: 0 0 1px black;
}


@media (max-width: 850px){

header
{
	justify-content:space-around;
}
nav
{
	flex-direction:column;
	margin:0;
	width:250px;
}
header img
{
	height:40%;
	align-self:center;
}


}



.hero
{
	width:80%;
	align-self:center;
	display:flex;
	flex-direction:column;
}
.hero img
{
	width:400px;
	height:auto;
}
.hero h1
{
text-align: center;
font-size:4em;

}
.herocontent
{
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
}
.herotxt
{
	margin:15px;
	display:flex;
	justify-content:center;
	align-content:center;
	flex-direction:column;
	font-family: 'Ubuntu', sans-serif;
}
.hero a
{
 font-size:1.3em;
 color:#c0392b;
 align-self:center;
 text-decoration:none;
 background-color:white;
 padding:8px;
 margin:0;
 border-radius:5px;
 box-shadow:4px 3px 2px grey;
 width:60%;
 text-align:center;
}
.hero a:hover
{
	box-shadow:0 0 0 black;
}
.hero strong
{
	align-self:center;
	font-size:2em;
}
.hero p
{
	font-size:1.8em;
}


.logovu
{
	width:150px;
	height:auto;
	margin:5px 25px;
}
.vusur
{
	width:100%;
	background-color:black;
	display:flex;
	justify-content:center;
}
.vusur2
{
  width: 1140px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2em;
}
.vusur2 span
{
	display:block;
	width:200px;
	height:100px;
	font-size:1.5em;
	padding:5px;
	text-align:center;
}

















































































body{padding:0;margin:0;}
body section:nth-child(0n+4){background: darkgrey;color:#000;padding-bottom: 20px;width: 100%;}
body section:nth-child(0n+4) div:nth-child(1){max-width: 1140px;margin: auto;padding: 0 2em;}
body section:nth-child(0n+4) h1{text-align: center;width: 100%;}
body section:nth-child(0n+4) h2{text-align: center;width: 100%;}
body section:nth-child(0n+4) div:nth-child(2){display: flex;}
body section:nth-child(0n+4) div:nth-child(2) div{display:block;padding: 20px;background: #fff;}
body section:nth-child(0n+4) div:nth-child(2) div:nth-child(2){margin: 0 20px;}
body section:nth-child(0n+4) a{color: rgb(255,28,0);display: block;text-align: center;border: 1px solid red;text-decoration: none;padding: 8px 18px;font-size: 1.75em;}
body section:nth-child(0n+4) a:hover{color:#fff;background:red;}

body section:nth-child(0n+5){background-color: red;
  width: 100%;
  padding-top: 1em;}
body section:nth-child(0n+5) h1{text-align: center;}
body section:nth-child(0n+5) div{display: flex;margin: 2em;justify-content: center;}
body section:nth-child(0n+5) a{color:#fff;display: block;text-align: center;border: 1px solid #fff;text-decoration: none;padding: 8px 18px;font-size: 1.75em;width: 40%;
  margin: 0 10px;}



footer{
  background-color: rgb(39, 39, 39);
  display: flex;
  width: 100%;}
footer span{
  color: rgb(84, 84, 84);
  padding: 2em;
}
footer a{color: rgb(84, 84, 84);}
footer a:hover{text-decoration:none;}

@media (max-width: 640px){
  body section:nth-child(0n+4) div:nth-child(2){flex-direction: column;}
  body section:nth-child(0n+4) div:nth-child(2) div:nth-child(2){margin:2em 0;}
}





